.song-div {
    background-color: #1e1e1e;
    margin: 0 auto;
    height: 100em;
    width: 90%;
    border-top: 4px solid #ff5500;
}

.song-info {
    background-color: #1e1e1e;
    height: fit-content;
}

.song-title {
    color: white;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}

.no-song-img {
    float: right;
    padding: 30px;
    margin-right: 50px;
    margin-bottom: 40px;
}
