.player-container {
    color: white;
    background-color: #181717;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    border-top: 3px solid #ff5500;
}

.current-song {
    background-color: #181717;
    margin-left: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
        -2px -2px 4px rgba(255, 255, 255, 0.4);
}
