.comment-div {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    height: fit-content;
    padding-bottom: 60px;
    background-color: #d7d2db;
    margin: 0 auto;
    border-top: 3px solid black;
    border-radius: 10px;
}

.comment-input-button {
    background-color: #d7d2db;
}

.comment-input {
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

.comment-label {
    background-color: #d7d2db;
    color: black;
}

.comment-button {
    padding: 5px 30px 5px 30px;
    margin-left: 10px;
    cursor: pointer;
}

.comment-section {
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    width: 80%;
    height: fit-content;
    border-radius: 5px;
}

.edit-delete {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
    margin-top: 210px;
}

.delete-song {
    padding: 5px 30px 5px 30px;
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
}

.comment-container {
    padding-top: 30px;
    background-color: white;
}

.comment-ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-user {
    background-color: white;
    color: rgb(179, 176, 176);
}

.comment {
    background-color: white;
    margin-left: 30px;
    margin-top: -20px;
}

.comment-form {
    background-color: #d7d2db;
}

.comment-buttons {
    background-color: white;
}

.edit-comment-button,
.delete-comment-button {
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.delete-comment-button {
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    margin-top: 50px;
    font-size: 15px;
}

.edit-comment-button {
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    margin-top: 50px;
    font-size: 15px;
    margin-left: 145px;
}

.confirm-delete-button {
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    font-size: 15px;
    margin: 10px;
}

.confirm-delete-container {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.confirm-delete-sentence {
    background-color: white;
}
