form.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.password,
.username {
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    width: 300px;
    height: 30px;
}

label {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
}

button {
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    width: fit-content;
    margin-top: 50px;
    font-size: 15px;
    cursor: pointer;
}

.right-side-login {
    float: right;
    width: 50%;
}

li.errors {
    color: white;
    padding: 5px;
    color: red;
}
