body {
    background-color: white;
    font-family: "Lucida Grande";
}

.nav-links a {
    text-decoration: none;
    color: black;
    display: inline;
    margin-right: 10px;
    float: right;
    margin-top: -25px;
}

a.login {
    background-color: #ff5500;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    color: white;
}

a.signup {
    padding: 10px 15px 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #1f1e1e;
}

a.home {
    padding: 10px 15px 10px 15px;
    color: white;
    float: left;
    background-color: #1f1e1e;
    width: 0;
    height: 0;
    margin-top: -45px;
    display: flex;
    flex-direction: row;
}

.profile-button {
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    font-size: 15px;
}

.profile-dropdown {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    margin-top: -3px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid #1f1e1e;
}

.profile-dropdown li {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: black;
}

.dropdown {
    width: 200px;
    display: fixed;
    float: right;
    margin-right: -40px;
    border-radius: 5px;
    margin-top: 25px;
}

.dropdown-logout {
    margin-top: 0px;
    padding: 10px 15px 10px 15px;
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: 80px;
    font-size: 15px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.nav-bar {
    background-color: #1f1e1e;
    padding: 22px;
}

.home-button {
    height: 50px;
    width: 50px;
    display: relative;
    border-radius: 50%;
    margin-right: 10px;
}

.home span {
    margin-top: 7px;
}

a.user-page-button {
    margin-top: 0px;
    padding: 10px 15px 10px 15px;
    background-color: #ff5500;
    color: white;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    width: 60px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
